.detailsContainer{
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-top: 1rem;
}
mat-card{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 0.3rem;
}
