
    <mat-card class="detailsContainer" *ngFor="let book of bookings">
        <app-showHotel [hotelId]='book.hotelId' [ShowBaseCost]="false"></app-showHotel>
        <div>
            {{book.startDate.format("DD-MM-YYYY")}} - {{book.finishDate.format("DD-MM-YYYY")}}<br><br>
            {{book.amountOfDays()}} noche<span *ngIf="book.amountOfDays()>1">s</span>
            <h3>${{book.bookTotalCost()}}</h3>
            <mat-card-actions><button *ngIf="book.isActive()" mat-raised-button color="warn" (click)="cancelBook(book)">Cancelar</button></mat-card-actions>
        </div>
    </mat-card>


<div *ngIf="withoutBookings()">
    <h2>No ha realizado ninguna reserva</h2>
</div>