
    <mat-card class="detailsContainer" *ngFor="let booking of bookings">
        <app-showHotel [hotelId]='booking.hotelId' [ShowBaseCost]="false"></app-showHotel>
        <div>
            <app-bookingDetails [booking]='booking'></app-bookingDetails>
            <mat-card-actions><button *ngIf="booking.isCancelable()" mat-raised-button color="warn" (click)="cancelBook(booking)">Cancelar</button></mat-card-actions>
        </div>
    </mat-card>


<div *ngIf="withoutBookings()">
    <h2>No ha realizado ninguna reserva</h2>
</div>