<app-showHotel [hotel]='selectedHotel'></app-showHotel>

<div class="options">
    <mat-card class="optionsCard">
        <mat-card-title>Habitaciones:</mat-card-title>
        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
            <mat-radio-button (click)="select(room)" class="radio-button"
                *ngFor="let room of selectedHotel.roomsAvailables" [value]="room">
                {{room.typeName}}: <strong>${{room.cost}}</strong>
            </mat-radio-button>
        </mat-radio-group>
    </mat-card>
    <mat-card class="optionsCard">
        <mat-card-title>Servicios Adicionales:</mat-card-title>
        <mat-checkbox class="checkbox" (change)="onSelectionChange(extraService,option.checked)"
            *ngFor="let extraService of selectedHotel.extraServicesAvailables" #option>
            {{extraService.typeName}}:<strong>${{extraService.cost}} </strong>
        </mat-checkbox>
    </mat-card>
</div>


<mat-card class="footer">
    <div>
        <mat-form-field>
            <mat-label>Fecha desde</mat-label>
            <input matInput [matDatepicker]="pickerFrom" [min]="minDateFrom" placeholder="Seleccione fecha"
                [(ngModel)]="booking.startDate">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field *ngIf=(booking.startDate)>
            <mat-label>Fecha hasta</mat-label>
            <input matInput [matDatepicker]="pickerTo" [min]="minDateTo()" placeholder="Seleccione fecha"
                [(ngModel)]="booking.finishDate">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!dateRageNotSelected() && !roomNotSelected()">
        <strong class="cost">Precio final: ${{this.booking.bookTotalCost()}}</strong>
        <button mat-raised-button color="warn" (click)="saveBooking()" [routerLink]="['/']">Reservar</button>
    </div>    
</mat-card>