<mat-card class="optionsCard">
    <app-showHotel *ngIf="selectedHotel" [hotelId]='selectedHotel.id'></app-showHotel>
</mat-card>
<div class="options">
    <mat-card class="optionsCard">
        <mat-card-title>Habitaciones:</mat-card-title>
        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
            <mat-radio-button (click)="select(room)" class="radio-button"
                *ngFor="let room of selectedHotel?.roomsAvailables" [value]="room">
                {{room.typeName}}: <strong>${{room.cost}}</strong>
            </mat-radio-button>
        </mat-radio-group>
    </mat-card>
    <mat-card class="optionsCard">
        <mat-card-title>Servicios Adicionales:</mat-card-title>
        <mat-checkbox class="checkbox" (change)="onSelectionChange(extraService,option.checked)"
            *ngFor="let extraService of selectedHotel?.extraServicesAvailables" #option>
            {{extraService.typeName}}:<strong>${{extraService.cost}} </strong>
        </mat-checkbox>
    </mat-card>
</div>


<mat-card class="footer">
    <div>
        <mat-form-field>
            <mat-label>Fecha Desde:</mat-label>
            <input matInput [matDatepicker]="pickerFrom" [min]="minDateFrom" [max]="maxDateFrom()"
                placeholder="Seleccione fecha Desde" [(ngModel)]="booking.startDate" [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Fecha Hasta:</mat-label>
            <input matInput [matDatepicker]="pickerTo" [min]="minDateTo()" placeholder="Seleccione fecha Hasta"
                [(ngModel)]="booking.finishDate" [disabled]=(!booking.startDate) [readonly]="true">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
    </div>
    <span class="spacer"></span>
    <div *ngIf="!dateToNotSelected() && !roomNotSelected(); else incompleteData">
        <strong class="cost">Precio final: ${{this.booking.bookTotalCost()}}</strong>
        <button mat-raised-button color="warn" (click)="saveBooking()" [routerLink]="['/']">Reservar</button>
    </div>

</mat-card>

<ng-template #incompleteData>
    <div class="error">
        <strong>FALTA SELECCIONAR:</strong><br>
        <mat-error *ngIf="roomNotSelected()"><strong>-Habitacion</strong></mat-error><br>
        <mat-error *ngIf="dateToNotSelected()"><strong>-Fechas de la reserva</strong></mat-error>
    </div>
</ng-template>