<mat-card class="optionsCard">
    <app-showHotel *ngIf="selectedHotel" [hotelId]='selectedHotel.id'></app-showHotel>
</mat-card>


<mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="!roomNotSelected()">
        <ng-template matStepLabel>Habitación</ng-template>
        <mat-card-title>Seleccione una habitacion:</mat-card-title>
        <mat-radio-group aria-labelledby="radio-group-label" class="radio-group">
            <mat-radio-button (click)="selectRoom(room)" class="radio-button"
                *ngFor="let room of selectedHotel?.roomsAvailables" [value]="room">
                {{room.typeName}}: <strong>${{room.cost}}</strong>
            </mat-radio-button>
        </mat-radio-group>

        <span class="spacer"></span>
        <button mat-raised-button color="primary" [disabled]="roomNotSelected()" matStepperNext>Siguiente</button>
    </mat-step>
    <mat-step optional>
        <ng-template matStepLabel>Servicios extras</ng-template>
        <mat-card-title>Seleccione servicios extra si desea:</mat-card-title>
        <mat-checkbox class="checkbox" (change)="onSelectionChange(extraService,option.checked)"
            *ngFor="let extraService of selectedHotel?.extraServicesAvailables" #option>
            {{extraService.typeName}}:<strong>${{extraService.cost}} </strong>
        </mat-checkbox>
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>

    </mat-step>
    <mat-step [completed]="!dateToNotSelected()">
        <mat-card-title>Seleccione las fechas de inicio y fin de la reserva:</mat-card-title>
        <ng-template matStepLabel>Fechas de hospedaje</ng-template>
        <div>
            <mat-form-field>
                <mat-label>Fecha Desde:</mat-label>
                <input matInput [matDatepicker]="pickerFrom" [min]="minDateFrom" [max]="maxDateFrom()"
                    placeholder="Seleccione fecha Desde" [(ngModel)]="booking.startDate" [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Fecha Hasta:</mat-label>
                <input matInput [matDatepicker]="pickerTo" [min]="minDateTo()" placeholder="Seleccione fecha Hasta"
                    [(ngModel)]="booking.finishDate" [disabled]=(!booking.startDate) [readonly]="true">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="dateToNotSelected()" matStepperNext>Siguiente</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        <div *ngIf="!dateToNotSelected() && !roomNotSelected()">
            <app-bookingDetails [booking]='booking'></app-bookingDetails>
        </div>
        <button mat-raised-button color="primary" (click)="saveBooking()"
            [disabled]="dateToNotSelected() || roomNotSelected()" [routerLink]="['/']">Reservar</button>

    </mat-step>
</mat-horizontal-stepper>
